<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24"><title>Product</title><circle cx="12" cy="12" r="10"></circle><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"></path></svg>
      <small class="d-block mb-3 text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">© 2017–2021</font></font></small>
    </div>
    <div class="col-6 col-md">
      <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Особливості</font></font></h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Класні речі</font></font></a></li>
        <li><a class="link-secondary" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Випадкова особливість</font></font></a></li>
        <li><a class="link-secondary" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Особливість команди</font></font></a></li>
        <li><a class="link-secondary" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Матеріали для розробників</font></font></a></li>
        <li><a class="link-secondary" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Інший</font></font></a></li>
        <li><a class="link-secondary" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Останній раз</font></font></a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ресурси</font></font></h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Назва ресурсу</font></font></a></li>
        <li><a class="link-secondary" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ресурс</font></font></a></li>
        <li><a class="link-secondary" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ще один ресурс</font></font></a></li>
        <li><a class="link-secondary" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Кінцевий ресурс</font></font></a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ресурси</font></font></h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Бізнес</font></font></a></li>
        <li><a class="link-secondary" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Освіта</font></font></a></li>
        <li><a class="link-secondary" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Уряд</font></font></a></li>
        <li><a class="link-secondary" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ігри</font></font></a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Про</font></font></h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Команда</font></font></a></li>
        <li><a class="link-secondary" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Місцезнаходження</font></font></a></li>
        <li><a class="link-secondary" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Конфіденційність</font></font></a></li>
        <li><a class="link-secondary" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Умови</font></font></a></li>
      </ul>
    </div>
  </div>
</footer>
