<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal text-white">ТОВ "Пожежне спостереження м.Івано-Франківськ"</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-white" [routerLink]="['/']">Головна</a>
    <a class="p-2 text-white" [routerLink]="['/dashboard']">Админка</a>
  </nav>
  <a class="btn btn-outline-primary mr-md-3" [routerLink]="['/auth']">Вхід</a>
  <a class="btn btn-outline-primary mr-md-3" [routerLink]="['/reg']">Реєстрація</a>
</div>
